@using DemoUmbraco.Models.Models.CustomModels;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = DemoUmbraco.Models;
@{
    Layout = "Master.cshtml";
}
@{
    FormModel formModel = new FormModel();

    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">@Model.Value("title")</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-4"></div>

                @await Html.PartialAsync("CustomForms/FedbackFormSection",formModel)

            </div>
        </div>
    </section>

}