@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Umbraco User Group!</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You All</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
</header>